# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Daiqj\OneDrive\课程记录\2020-2021学年第2学期\服务计算与SOA开发\作业\第二次作业\Assignment 3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
